<h2>Bienvenido!!</h2>

<form action="http://localhost:8080/ecommerce/user/login", method="post">
  <input name="username" value="username" /><br>
  <input name="password" value="password" /><br>
  <button value="submit">Login</button>
</form>