<h2>Te invitamos a resgitrarte</h2>

<form action="http://localhost:8080/ecommerce/user/signup", method="post">
  <input name="username" value="username" /><br>
  <input name="email" value="email" /><br>
  <input name="password" value="password" /><br>
  <button value="submit">Registrarse</button>
</form>